<%- include("../other/header") %>
<%- include("../other/user-nav") %>

    <p>Start Date is <%= trip.startDate %></p>
    <p>End Date is <%= trip.endDate %></p>
    <p>Destination is <%= trip.destination %></p>

    <form action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Delete the Trip</button>
    </form>
    
<%- include("../other/footer") %>